
// body {
//     overflow-X: hidden;
// }

.modern-name {
    position: relative;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: clamp(27px, 8vw, 50px);
    color: #fff;
    text-shadow:
        0 0 10px #ff9a9e,
        0 0 20px #ff9a9e,
        0 0 30px #ff9a9e,
        0 0 40px #fad0c4;
    animation: glow 3s ease-in-out infinite;
}

@keyframes glow {

    0%,
    100% {
        text-shadow: 0 0 10px #ff9a9e, 0 0 20px #ff9a9e;
    }

    50% {
        text-shadow: 0 0 20px #fad0c4, 0 0 40px #fad0c4;
    }
}

#countdown {
    position: absolute;
    top: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-family: 'MontserratARM', sans-serif;
    align-items: baseline;
}

.time-box {
    text-align: center;
}

.time-box div:first-child {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    min-width: 90px;
}

.label {
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ff5400;
    text-transform: uppercase;
}

#countdown span {
    font-size: 40px;
    color: #ff5400;
    font-weight: bold;
}

@media (max-width: 600px) {
    #countdown {
        gap: 12px;
    }

    .time-box div:first-child {
        font-size: 35px;
        min-width: 55px;
    }

    .label {
        font-size: 10px;
    }

    #countdown span {
        font-size: 25px;
    }
}